@page
@model WeatherComparison.Pages._2023Model
@{
    ViewData["Title"] = "2023";
}

<div class="text-center">
    <h1>2023</h1>
</div>

<div class="justify-content-center">
    <button style="width:100px; height:30px" onclick="window.location.href='/October'">October</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/November'">November</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/December'">December</button>
</div>
