@page
@model WeatherComparison.Pages._2024Model
@{
    ViewData["Title"] = "2024";
}

<div class="text-center">
    <h1>2024</h1>
</div>
<hr />
<div class="justify-content-center">
    <button>January</button>
    <button>February</button>
    <button>March</button>
    <button>April</button>
    <br />
    <br />
    <button>May</button>
    <button>June</button>
    <button>July</button>
    <button>August</button>
    <br />
    <br />
    <button>September</button>
    <button>October</button>
    <button>November</button>
    <button>December</button>
</div>
