@page
@model WeatherComparison.Pages._2024Model
@{
    ViewData["Title"] = "2024";
}

<div class="text-center">
    <h1>2024</h1>
</div>
<hr />
<div class="justify-content-center">
    <button onclick="window.location.href='/Jan24'">January</button>
    <button onclick="window.location.href='Feb24'">February</button>
    <button onclick="window.location.href='/March24'">March</button>
    <button onclick="window.location.href='/April24'">April</button>
    <br />
    <br />
    <button onclick="window.location.href='/May24'">May</button>
    <button onclick="window.location.href='/June24'">June</button>
    <button onclick="window.location.href='/July24'">July</button>
    <button onclick="window.location.href='/August24'">August</button>
    <br />
    <br />
    <button onclick="window.location.href='/September24'">September</button>
    <button onclick="window.location.href='/October24'">October</button>
    <button onclick="window.location.href='/November24'">November</button>
    <button onclick="window.location.href='/index'">December</button>
</div>
