@page
@model WeatherComparison.Pages._2025Model
@{
    ViewData["Title"] = "2025";
}

<div class="text-center">
    <h1>2025</h1>
</div>

<div class="justify-content-center">
    <button>January</button>
    <button>February</button>
    <button>March</button>
    <button>April</button>
    <br />
    <br />
    <button>May</button>
    <button>June</button>
    <button>July</button>
    <button>August</button>
    <br />
    <br />
    <button>September</button>
    <button>October</button>
    <button>November</button>
    <button>December</button>
</div>
