@page
@model WeatherComparison.Pages._2025Model
@{
    ViewData["Title"] = "2025";
}

<div class="text-center">
    <h1>2025</h1>
</div>

<div class="justify-content-center">
    <button style="width:100px; height:30px" onclick="window.location.href='/Jan25'">January</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/2025/Feb25'">February</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/2025/Mar25'">March</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/2025/Apr25'">April</button>
    <br />
    <br />
    <button style="width:100px; height:30px" onclick="window.location.href='/2025/May25'">May</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/2025/Jun25'">June</button>
    <button style="width:100px; height:30px">July</button>
    <button style="width:100px; height:30px">August</button>
    <br />
    <br />
    <button style="width:100px; height:30px">September</button>
    <button style="width:100px; height:30px">October</button>
    <button style="width:100px; height:30px">November</button>
    <button style="width:100px; height:30px">December</button>
</div>
