@page
@model WeatherComparison.Pages._2026Model
@{
    ViewData["Title"] = "2026";
}

<div class="text-center">
    <h1>2026</h1>
</div>

<div class="justify-content-center">
    <button style="width:100px; height:30px" onclick="window.location.href='/2026/Jan26'">January</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/2026/Feb26'">February</button>
    <button style="width:100px; height:30px">March</button>
    <button style="width:100px; height:30px">April</button>
    <br />
    <br />
    <button style="width:100px; height:30px">May</button>
    <button style="width:100px; height:30px">June</button>
    <button style="width:100px; height:30px">July</button>
    <button style="width:100px; height:30px">August</button>
    <br />
    <br />
    <button style="width:100px; height:30px">September</button>
    <button style="width:100px; height:30px">October</button>
    <button style="width:100px; height:30px">November</button>
    <button style="width:100px; height:30px">December</button>
</div>
