@page
@model WeatherComparison.Pages.Index1Model
@{
    ViewData["Title"] = "Index";
}

<div class="justify-content-md-center">
    <h1>Weather comparison charts</h1>
</div>
<br />
<div>
    <button style="width:100px; height:30px" onclick="window.location.href='/2023'">2023</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/2024'">2024</button>
    <button style="width:100px; height:30px" onclick="window.location.href='/2025'">2025</button>
    <button style="width:100px; height:30px" onclick="window.location.href='2026'">2026</button>
</div>
