@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As this web app is only for use in house as a temperature data record thre is no need to record any personal details and so no privacy statement is required.</p>
